<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Just in case, allow substitution through Java System properties and Environment variables: -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK"/>
        <property name="searchSystemEnvironment" value="true"/>
    </bean>

    <bean id="cfg0" class="edu.wallet.config.PropertyFileConfiguration"/>

    <bean id="logger0" class="edu.wallet.log.SystemOutLogger"/>

    <bean id="pers0" class="edu.wallet.server.db.HsqlEmbeddedPersistentStorage" depends-on="cfg0,logger0">
        <constructor-arg ref="cfg0"/>
        <constructor-arg ref="logger0"/>
    </bean>

    <bean id="cfg-id" class="edu.wallet.config.Cfg">
        <property name="configuration">
            <ref bean="cfg0"/>
        </property>

        <property name="logger">
            <ref bean="logger0"/>
        </property>

        <property name="persistentStorage">
            <ref bean="pers0"/>
        </property>

        <property name="processor">
            <bean class="edu.wallet.server.LogicServer" depends-on="cfg0,logger0,pers0">
                <constructor-arg ref="cfg0"/>
                <constructor-arg ref="logger0"/>
                <constructor-arg ref="pers0"/>
            </bean>
        </property>
    </bean>
</beans>
